<% layout('admin/layout.html') %>
<script src="//cdn.bootcss.com/moment.js/2.16.0/moment.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.17.1/locale/zh-cn.js"></script>

<div class="content container">
    <div class="row">
        <div class="col-lg-12">
            <div class="widget">
                <div class="widget-header"><i class="icon-file-alt"></i>
                    <h3>系统信息</h3>
                </div>
                <div class="widget-content">
                    <div class="panel-body">
                        <div class="form-horizontal row-border">
                            <div class="form-group lable-padd">
                                <label class="col-sm-3">系统内核</label>
                                <div class="col-sm-6">
                                    <input type="text" value="<%=kernel%>" class="form-control mask" readonly/>
                                </div>
                            </div>
                            <div class="form-group lable-padd">
                                <label class="col-sm-3">主机名</label>
                                <div class="col-sm-6">
                                    <input type="text" value="<%=hostname%>" class="form-control mask" readonly/>
                                </div>
                            </div>
                            <div class="form-group lable-padd">
                                <label class="col-sm-3">CPU</label>
                                <%cpu.forEach(function(v,i){%>
                                <%if(i==0){%>
                                <div class="col-sm-6">
                                    <input type="text" value="<%=v.model%>" class="form-control mask" readonly/>
                                </div>
                                <%}else{%>
                                <div class="col-sm-6 col-sm-offset-3 mgt">
                                    <input type="text" value="<%=v.model%>" class="form-control mask" readonly/>
                                </div>
                                <%}%>
                                <%})%>
                            </div>
                            <div class="form-group lable-padd">
                                <label class="col-sm-3">内存</label>
                                <div class="col-sm-6">
                                    <input type="text" value="<%=mem%>" class="form-control mask" readonly/>
                                </div>
                            </div>
                            <div class="form-group lable-padd">
                                <label class="col-sm-3">开机时间</label>
                                <div class="col-sm-6">
                                    <input id="uptime" type="text" data-value="<%=uptime%>" class="form-control mask"
                                           readonly/>
                                </div>
                            </div>
                            <div class="form-group lable-padd">
                                <label class="col-sm-3">运行时间</label>
                                <div class="col-sm-6">
                                    <input id="runtime" type="text" data-value="<%=uptime%>" class="form-control mask"
                                           readonly/>
                                </div>
                            </div>
                            <div class="form-group lable-padd">
                                <label class="col-sm-3">网络</label>
                                <div class="col-sm-6 mgt">
                                    <div id="accordion2" class="panel-group">
                                        <%Object.keys(network).forEach(function(v,i){%>
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <a href="#<%=v%>" data-parent="#accordion2"
                                                   data-toggle="collapse"
                                                   class="accordion-toggle collapsed">网卡名：
                                                    <%=v%> </a>
                                            </div>
                                            <div style="height: 0;" class="panel-collapse collapse" id="<%=v%>">
                                                <div class="panel-body">
                                                    <table cellpadding="0" cellspacing="0" border="0" class="display"
                                                           id="example">
                                                        <thead>
                                                        <tr>
                                                            <th>类型</th>
                                                            <th>IP地址</th>
                                                            <th>子网掩码</th>
                                                            <th>Mac地址</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <%network[v].forEach(function(vv,ii){%>
                                                        <tr class="gradeX">
                                                            <td><%=vv.family%></td>
                                                            <td><%=vv.address%></td>
                                                            <td><%=vv.netmask%></td>
                                                            <td><%=vv.mac%></td>
                                                        </tr>
                                                        <%})%>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <%})%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var uptime = $('#uptime').data('value');
    $('#uptime').val(moment().subtract(uptime, "seconds").format('YYYY年MM月DD日 dddd HH:mm:ss'));

    (function getRunTime() {
        $('#runtime').val(formatSeconds(uptime++));
        setTimeout(function () {
            getRunTime();
        }, 1000);
    })();
    function formatSeconds(value) {
        var theTime = parseInt(value);// 秒
        var theTime1 = 0;// 分
        var theTime2 = 0;// 小时
        if (theTime > 60) {
            theTime1 = parseInt(theTime / 60);
            theTime = parseInt(theTime % 60);
            if (theTime1 > 60) {
                theTime2 = parseInt(theTime1 / 60);
                theTime1 = parseInt(theTime1 % 60);
            }
        }
        var result = "" + parseInt(theTime) + "秒";
        if (theTime1 > 0) {
            result = "" + parseInt(theTime1) + "分" + result;
        }
        if (theTime2 > 0) {
            result = "" + parseInt(theTime2) + "小时" + result;
        }
        return result;
    }
</script>