<table class="table table-hover sysinfo-table">
    <thead>
    <tr>
        <th colspan="2">硬件信息</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td width="200">CPU个数</td>
        <td>1个</td>
    </tr>
    <tr>
        <td width="200">CPU核心</td>
        <td>
            <p>共有 2 个核心，型号如下：</p>
            <div>Intel(R) Core(TM) i7-4710MQ CPU @ 2.50GHz</div>
            <div>Intel(R) Core(TM) i7-4710MQ CPU @ 2.50GHz</div>
        </td>
    </tr>
    <tr>
        <td width="200">内存大小</td>
        <td>1.5G</td>
    </tr>
    <tr>
        <td width="200">存储设备</td>
        <td>
            <p>共有 2 个存储设备，共 1.5T</p>
            <div>Intel(R) Core(TM) i7-4710MQ CPU @ 2.50GHz</div>
            <div>Intel(R) Core(TM) i7-4710MQ CPU @ 2.50GHz</div>
        </td>
    </tr>
    </tbody>
</table>