<% layout('layout.ejs') %>
<div class="content container">
    <div class="row">
        <div class="col-lg-12">
            <div class="widget">
                <div class="widget-header">
                    <ul id="sysInfoTabs" class="nav nav-tabs sysinfo-tab">
                        <li class="active">
                            <a href="#general" data-type="general" id="general-tab">概览</a>
                        </li>
                        <li>
                            <a href="#network" data-type="network" id="network-tab">网络</a>
                        </li>
                        <li>
                            <a href="#service" data-type="service" id="service-tab">服务</a>
                        </li>
                        <li>
                            <a href="#system" data-type="system" id="system-tab">系统</a>
                        </li>
                        <li>
                            <a href="#hardware" data-type="hardware" id="hardware-tab">硬件</a>
                        </li>
                    </ul>
                </div>
                <div class="widget-content">
                    <div id="tabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="general">
                            <% include general %>
                        </div>
                        <div class="tab-pane fade" id="network">
                            <% include network %>
                        </div>
                        <div class="tab-pane fade" id="service">
                            <% include service %>
                        </div>
                        <div class="tab-pane fade" id="system">
                            <% include system %>
                        </div>
                        <div class="tab-pane fade" id="hardware">
                            <% include hardware %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>