<table class="table table-hover sysinfo-table">
    <thead>
    <tr>
        <th colspan="2">网络信息</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td width="200">DNS服务器</td>
        <td>
            <p>192.168.192.130</p>
            <p>192.168.192.130</p>
        </td>
    </tr>
    <tr>
        <td>网络接口</td>
        <td>
            <p>状态：<span class="label label-success">启用</span></p>
            <p>名称：<span class="value">eth1(以太网接口)</span></p>
            <p>IPv4地址：<span class="value">192.168.1.2</span></p>
            <p>子网掩码：<span class="value">255.255.255.0</span></p>
            <p>默认网关：<span class="value">192.168.1.2</span></p>
            <p>物理地址：<span class="value">192.168.1.2</span></p>
        </td>
    </tr>
    <tr>
        <td>网络接口</td>
        <td>
            <p>状态：<span class="label label-success">启用</span></p>
            <p>名称：<span class="value">eth1(以太网接口)</span></p>
            <p>IPv4地址：<span class="value">192.168.1.2</span></p>
            <p>子网掩码：<span class="value">255.255.255.0</span></p>
            <p>默认网关：<span class="value">192.168.1.2</span></p>
            <p>物理地址：<span class="value">192.168.1.2</span></p>
        </td>
    </tr>
    </tbody>
</table>