<table class="table table-hover sysinfo-table">
    <thead>
    <tr>
        <th colspan="3">服务状态</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td width="200">Nginx</td>
        <td width="100"><span class="label label-success">已启用</span></td>
        <td><span class="text-muted">一些说明简要的说明信息</span></td>
    </tr>
    <tr>
        <td width="200">MongoDB</td>
        <td width="100"><span class="label label-success">已启用</span></td>
        <td><span class="text-muted">一些说明简要的说明信息</span></td>
    </tr>
    <tr>
        <td width="200">firewall.service</td>
        <td width="100"><span class="label label-danger">已关闭</span></td>
        <td><span class="text-muted">一些说明简要的说明信息</span></td>
    </tr>
    <tr>
        <td width="200">FTP</td>
        <td width="100"><span class="label label-success">已启用</span></td>
        <td><span class="text-muted">一些说明简要的说明信息</span></td>
    </tr>
    </tbody>
</table>