<table class="table table-hover sysinfo-table">
    <thead>
    <tr>
        <th colspan="2">系统信息</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td width="200">主机名称</td>
        <td>DESKTOP-UM7EGCN</td>
    </tr>
    <tr>
        <td width="200">发行版本</td>
        <td>DESKTOP-UM7EGCN</td>
    </tr>
    <tr>
        <td width="200">内核版本</td>
        <td>Windows NT 10.0; Win64</td>
    </tr>
    <tr>
        <td width="200">系统类型</td>
        <td>x86_64</td>
    </tr>
    </tbody>
</table>