<% layout('layout.html') %>
<div class="content container">
    <div class="row">
        <div class="col-lg-12">
            <div class="widget">
                <div class="widget-header"><i class="icon-file-alt"></i>
                    <h3>网站信息</h3>
                </div>
                <div class="widget-content">
                    <%if(!data.exist){%>
                    <div class="alert alert-block alert-danger fade-in">
                        <button type="button" class="close close-sm" data-dismiss="alert"><i class="icon-remove"></i>
                        </button>
                        检测到系统没有安装Nginx，将无法使用当前栏目下的功能，是否安装？
                        <button id="nginx_install" type="button" data-loading-text="正在安装..." data-complete-text="安装成功!" class="btn btn-primary">点击安装</button>
                    </div>
                    <%}else{%>
                    <div class="panel-body">
                        <div class="form-horizontal row-border">
                            <div class="form-group lable-padd">
                                <label class="col-sm-3">nginx版本</label>
                                <div class="col-sm-6">
                                    <input type="text" value="<%=data.version%>" class="form-control mask" readonly/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
</div>